



.first-container{
    text-align: center;
    margin-top: -180px;
}
.data1{
    padding-left: 330px;
}

.data2{
    padding-left: 330px;
}

.data3{
    padding-left: 330px;
}

.data4{
    padding-left: 330px;
}


.data5{
    padding-left: 280px;
}

.data6{
    padding-left: 280px;
}

.data7{
    padding-left: 280px;
}


.data8{
    padding-left: 280px;
}



